<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <header>
        <h1>Air Ticket Booking</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/aboutus">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>

    <section class="success-section">
        <div class="success-container">
            <h2>Registration Successful!</h2>
            <p>Welcome, <!-- First Name Placeholder -->!</p>
            <img src="./assets/img/takes_off.png" alt="Success">
            <p id="countdown">You will be redirected to the login page in 10 seconds.</p> <!-- Countdown message -->
            <a class="success-link" href="/">Go to Home</a>
        </div>
    </section>

    <script src="./assets/js/successRegisterCounter.js"></script>
</body>
</html>
